* {
    padding: 0;
    margin: 0;
}


#background {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#playground {
    width: 60%;
    height: 70%;
    position: absolute;
    background-image: url("/static/images/menu_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 20px;
}

#playground_level1 {
    width: 60%;
    height: 70%;
    position: absolute;
    background-image: url("/static/images/level1_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 20px;
}

#playground_level2 {
    width: 60%;
    height: 70%;
    position: absolute;
    background-image: url("/static/images/level2_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 20px;
}

#menu_button {
    position: absolute;
    left: 45%;
}

#start {
    position: absolute;
    top: 200px;
    font-size: 20px;
    background-color: coral;
}


#gif_image {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 37%;
    height: 250px;
}