* {
    padding: 0;
    margin: 0;
}

#myCanvas {
    background: #a3adad;
    display: block;
    margin: 0 auto;

}

#background {
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#playground {
    width: 60%;
    height: 70%;
    position: absolute;
    background-image: url("/static/images/menu_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 20px;
    left: 20px;
}

#menu_button {
    position: absolute;
    left: 50%;
}

#start {
    position: absolute;
    top: 200px;
}

#tutorial {
    position: absolute;
    top: 230px;
}

#exit {
    position: absolute;
    top: 260px;
}

#ball {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: orangered;
    position: absolute;
    bottom: 250px;
    left: 400px;
}