* {
    padding: 0;
    margin: 0;
}


#background {
    background-image: url("/static/images/background.jpg");
    background-size: cover;

}

#playground {
    width: 70%;
    height: 75%;
    position: absolute;
    background-image: url("/static/images/menu_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 3px;
}

#menu_button {
    position: absolute;
    left: 45%;
    top: 40%;
    alignment: center;
}

#menu_button button:hover {
    color: white;
}

button:hover {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#start {
    position: absolute;
    top: 30px;
    font-size: 30px;
    background-color: coral;
    display: block;
    border-radius: 8px;
    padding: 4px;
}



#tutorial {
    position: absolute;
    top: 70px;
    font-size: 30px;
    background-color: coral;
}

#Easy {
    position : absolute;
    top: 0px;
    font-size: 30px;
    background-color: #078f0c;
    display: block;
    border-radius: 8px;
    padding: 4px;
}

#Medium {
    position : absolute;
    top: 60px;
    font-size: 30px;
    background-color: #f5a716;
    display: block;
    border-radius: 8px;
    padding: 4px;

}

#Mandalorian {
    position : absolute;
    top: 120px;
    font-size: 30px;
    background-color: #bf0a00;
    display: block;
    border-radius: 8px;
    padding: 4px;

}

#gif_image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 29.8%;
    height: 250px;
}

.paddle {
    width: 130px;
    height: 10px;
    background-image: url('/static/assets/metal.jpg');
    position: absolute;
    border-radius: 8px;
}

.bricks {
    width: 10%;
    height: 10%;
    background-color: white;
    position: absolute;
    border-radius: 8px;
}

#bricks {
    width: 864px;
    height: 391px;
}

#life_bar {
     position: absolute;
     top: 20.2%;
     left: 3px;
     background-color: coral;
     width: 150px;
     height: 30px;
}

#life {
    width: 30px;
    height: 30px;
}

#score_bar{
    position: absolute;
    top: 20.2%;
    left: 59.2%;
    background-color: coral;
    width: 150px;
    height: 30px;
    text-align: right;
    font-size: 20px;
}

#speak{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 15%;
    left: 20%;
}

#sound {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: coral;
    border-radius: 20px;
    top: 20%;
    left: 51%;
    display: none;
}

#silence{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: coral;
    border-radius: 20px;
    top: 20%;
    left: 51%;
    display: block;
}

#head {
    width: 50px;
    height: 50px;
}