<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body id="background">
    <div id="playground">
        <div class="paddle" id="paddle"></div>
        <div id="bricks"></div>
        <div id="menu_button">
            <button id="start">START</button>
            <button id="tutorial">TUTORIAL</button>
        </div>
    </div>
    <div>
        <img src="/static/images/baby_yoda_capsule.JPG" alt="" id="gif_image">
    </div>
    <div>
        <img src="/static/images/sound.png" id="sound">
        <img src="/static/images/silence.png" id="silence">
    </div>
    <audio src="/static/audio/The_Mandalorian%20-%20Soundtrack.mp3" id="song"></audio>
</body>
</html>
