<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body id="background">
    <div id="playground">
        <div class="paddle" id="paddle"></div>
        <div id="bricks"></div>
        <div id="menu_button">
            <button id="start">START</button>
            <button id="tutorial">TUTORIAL</button>

        </div>
    </div>
    <div>
        <img src="/static/images/Baby_yoda_supe.gif" alt="" id="gif_image">
    </div>






</body>
</html>